{% extends 'base.html' %}

{% block navbar %}
   {%include 'inc/navbar_guest.html'%}
{% endblock navbar %}  

{% block content %}

      <div class="row ml-4">
         <div class="col-4">
            <h3>Hot Questions</h3>
         </div> 

         <div class="col-3 text-primary mt-1">
            <a href="{% url 'all_questions' %}"><u>New Questions</u></a>
         </div> 
      </div>
   
   {% for questions in questions%}
      {%include 'inc/question.html'%}
   {%endfor%}
   
{% endblock content %}

{% block pages_flipper %}
   {% include 'inc/pages_flipper.html' %}
{% endblock pages_flipper %}  

