{% extends 'base.html' %}

{% block navbar %}
   {%include 'inc/navbar_logged.html'%}
{% endblock navbar %}  

{% block content %}
   {%include 'inc/question.html'%}
   
   {% for answers in answers%}
      {%include 'inc/answer.html'%}
   {%endfor%}   
   
   <div class="form-group mt-5">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter your answer"></textarea>
   </div>
      
   <button class="btn btn-success btn-sm mr-1" type="submit">Answer</button>
   
{% endblock content %}

{% block pages_flipper %}
   {% include 'inc/pages_flipper.html' %}
{% endblock pages_flipper %}
